.Rhistory
.RData
.Rproj.user/

.DS_Store

data/raw/
data/processed/*.rds
data/processed/*.qs
data/processed/*.rdata

figures/*.pdf
figures/*.png
figures/*.tiff
figures/*.jpg

results/*.csv
results/*.tsv
results/*.txt
